@tailwind base;
@tailwind components;
@tailwind utilities;

/**** @Author: Francisco Zapata ****/
#app {
	margin: 0 auto;
	font-weight: normal;
}

html {
	box-sizing: border-box;
	/* font-size: 62.5%; */
	scroll-padding-top: 5.5rem;
	scroll-behavior: smooth;
}
*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	text-decoration: none;
	list-style: none;
}

/** Custom Properties **/
body {
	font-size: 16px;
	font-family: 'Nunito', sans-serif;
	overflow-x: hidden;
}
img {
	width: 100%;
}
.container {
	width: 90%;
	margin: 0 auto;
}
@media (min-width: 768px) {
	.container {
		width: 80%;
	}
}
